@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:regular,bold,italic&subset=latin,latin-ext");
* {
  font-family: "Source Code Pro";
  font-size: 14px;
}
html,
body {
  height: 100%;
  background: #f7f5f2;
}

.app {
  padding-top: 10px;
}
h1,
h2 {
  color: #52272c;
  margin-bottom: 3px;
}
.app {
  justify-content: center;
  margin: auto;
  min-height: 500px;
  max-width: 400px;
}

.bg {
  background-size: 300px;
  background-position: calc(50% + 230px) top;
  background-repeat: no-repeat;
}
.bg.ahri-good {
  background-image: url("ahri_good.png");
}
.bg.ahri-evil {
  background-image: url("ahri_evil.png");
}
.header {
  margin-bottom: 20px;
  max-width: 430px;
}
footer {
  margin-top: 50px;
  font-size: 11px;
}
footer a {
  font-size: 11px;
}
.teemo-img {
  transform: translate(0px, 15px);
}
.PlayerTile {
  margin-bottom: 5px;
}
.PlayerTile *, .ghost-button {
  min-height: 40px;
}
.undo-rename-group {
  text-align: right;
}
.bottom-buttons-group {
  margin-top: 15px;
}

input {
  font-family: "Source Code Pro";
  font-size: 20px;
  width:388px;
  border: 0;
  background: transparent;
  padding-left: 10px;
  font-weight: bold;
  color: white;
  position: relative;
  display: inline-block;
}
::placeholder {
  color: white;
}
input.rename-off {
  cursor: pointer;
}
.green {
  background-color: #8eed90;
  color: white;
}
.red {
  background-color: #ff5757;
  color: white;
}
.grey {
  background-color: #c3c7c7;
  color: #d5dbd8;
}
input.rename-on:hover {
  background: #a3a3a3;
}
input.rename-on:focus {
  outline: none;
  background: #939393;
}
input.rename-on:focus {
  outline: none;
}
input.rename-off.active:hover {
  background-color: #db4b4b;
}
input {
  outline: none;
}
.rename-button {
  font-family: "Source Code Pro";
  font-size: 14px;
  background-color: #3dddff;
  color: white;
  width: 100px;
}
.rename-button.pure-button-active {
  background-color: #3dddff;
}
.eliminate-button {
  color: white;
  font-family: "Source Code Pro";
  text-align: center;
}
.ghost-button {
    font-family: "Source Code Pro";
    width: 100%;
}
.match-history-button {
  pointer-events: none;
  cursor: not-allowed;
  margin-bottom: 5px;
  margin-right: 4px;
  padding: 4px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.match-history-list {
  height: 270px;
}

.player-tile {
    position: relative;
}

.hotkey-label {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 1px;
    right: 9px;
}
.ghost-hotkey-label {
    right: 7px;
    color: #555;
}
.ghost-hotkey-label-light {
    right: 7px;
    color: #bbb;
}