@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:regular,bold,italic&subset=latin,latin-ext");
* {
  font-family: "Source Code Pro";
  font-size: 14px;
}
html,
body {
  height: 100%;
  margin: 0;
  background: #f7f5f2;
}

.app {
  padding-top: 10px;
}
h1 {
  color: #52272c;
  margin-bottom: 3px;
}
.app {
  justify-content: center;
  margin: auto;

  max-width: 400px;
}

.bg {
  background-size: 300px;
  background-position: calc(50% + 230px) top;
  background-repeat: no-repeat;
}
.bg.ahri-good {
  background-image: url("ahri_good.png");
}
.bg.ahri-evil {
  background-image: url("ahri_evil.png");
}
.header {
  margin-bottom: 20px;
  max-width: 430px;
}
footer {
  position: fixed;
  bottom: 10px;
}
.teemo-img {
  transform: translate(0px, 15px);
}
.PlayerTile {
  margin-bottom: 5px;
}
.PlayerTile * {
  min-height: 40px;
}
.undo-rename-group {
  text-align: right;
}
.bottom-buttons-group {
  margin-top: 15px;
}
.players-list {
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: #f7f5f2;
   border: 20px  white;

}
input {

  font-family: "Source Code Pro";
  font-size: 20px;
  width: 100%;
  border: 0;
  background: transparent;
  padding-left: 10px;
  font-weight: bold;
  color: white;
}
::placeholder {
  color: white;
}
input.rename-off {
  cursor: pointer;
}
.green {
  background-color: #8eed90;
  color: white;
}
.red {
  background-color: #ff5757;
  color: white;
}
.grey {
  background-color: #c3c7c7;
  color: #d5dbd8;
}
input.rename-on:hover {
  background: #a3a3a3;
}
input.rename-on:focus {
  outline: none;
  background: #939393;
}
input.rename-on:focus {
  outline: none;
}
input.rename-off.active:hover {
  background-color: #db4b4b;
}
input {
  outline: none;
}
.reset-button {
}
.rename-button {
  font-family: "Source Code Pro";
  font-size: 14px;
  background-color: #3dddff;
  color: white;
  width: 100px;
}
.rename-button.pure-button-active {
  background-color: #3dddff;
}
.eliminate-button {
  color: white;
  font-family: "Source Code Pro";
  text-align: center;
}
